/* Main CSS */

main{
    width: 100%;
    height: fit-content;
}
@font-face {
    font-family: 'Inter';
    src: url(Font/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: 'Poppins';
    src: url(Font/Poppins-Medium.ttf);
}

.roadmap{
    width: fit-content;
    height: 21px;
    margin-top: 80px;
    margin-left: 185px;
    gap: 12px;
    opacity: 0px;
    display: flex;
}
.gohome{
    width: 42px;
    height: 21px;
    gap: 0px;
    opacity: 50%;
}
.breadcrumb-link {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #000000;
}
.breadcrumb-divider {
    color: #888;
    margin: 0 5px;
}
.curentpage{
    width: 85px;
    height: 21px;
    gap: 0px;
    opacity: 0px;    
}
.breadcrumb-current {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #000000;    
}
.sbar{
    width: 395px;
    margin-left: 80px;
}
.secon{
    width: 112px;
}
.user{
    margin-left: 16px;
    width: 32px;
    height: 32px;
}
.user img{
    width: 32px;
    height: 32px;
}

.topmain{
    display: flex;
}
.welcomemsg{
    width: 139px;
    height: 21px;
    margin-left: 874px;
    margin-top: 80px;
    gap: 0px;
    opacity: 0px; 
}
.welcomemsg h1{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #000000;
}  
.welcomemsg h1 span{
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: red;
}  

/* ---------- */

.container{
    margin-top: 80px;
    margin-left: 185px;
    width: fit-content;
    height: fit-content;
    display: flex;
}

.manageaccount{
    width: 166px;
    height: 24px;
    top: 323px;
    left: 135px;
    gap: 0px;
    opacity: 0px;    
}
.manageaccount h1{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #000000;
}
.frame839{
    width: 165px;
    height: 88px;
    margin-top: 16px;
    margin-left: 35px;
    gap: 8px;
    opacity: 0px;
}
.myprofile{
    width: 76px;
    height: 24px;
    gap: 0px;
    opacity: 0px;   
}
.myprofile h1{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #DB4444;
}
.addressbook{
    width: 108px;
    height: 24px;
    gap: 0px;
    opacity: 50%;
     
}
.addressbook h1{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
}
.paymentopation{
    width: 165px;
    height: 24px;
    gap: 0px;
    opacity: 50%;
      
}
.paymentopation h1{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
}
.frame838{
    width: 870px;
    height: 630px;
    top: 323px;
    left: 435px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 13px 0px #0000000D;
    margin-left: 100px;    
}
.edityouprofile{
    width: 155px;
    height: 28px;
    gap: 0px;
    opacity: 0px;    
    margin-top: 40px;
    margin-left: 80px;
}
.edityouprofile h1{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #DB4444;
}
.frame848, .frame849{
    width: 710px;
    height: 82px;
    margin-top: 24px;
    margin-left: 80px;
    gap: 50px;
    opacity: 0px;
    display: flex;
}
.div48{
    width: 330px;
    height: 82px;
    gap: 8px;
    opacity: 0px;
}
#head48{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
}
.fname{
    width: 85px;
    height: 24px;
    gap: 0px;
    opacity: 0px;    
}
.inputbox{
    width: 330px;
    height: 50px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background: #F5F5F5;
    border: none;
    margin-top: 8px;     
}
.inputboxunder{
    width: 330px;
    height: 50px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background: #F5F5F5;
    border: none;
    padding-left: 16px;
}
.frame846{
    width: 710px;
    height: 214px;
    margin-top: 24px;
    margin-left: 80px;
    gap: 16px;
    opacity: 0px;
}
.fname46{
    width: 154px;
    height: 24px;
    gap: 0px;
    opacity: 0px;    
}
.inputboxse{
    width: 710px;
    height: 50px;    
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background: #F5F5F5;
    border: none;
    margin-top: 16px;     
}
.inputboxunderse{
    width: 710px;
    height: 50px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background: #F5F5F5;
    border: none;
    padding-left: 16px;
}
.frame847{
    width: 303px;
    height: 56px;
    margin-top: 24px;
    margin-left: 500px;
    gap: 32px;
    opacity: 0px;
    display: flex;
}
.cancel47{
    width: 57px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    margin-top: 16px;
}
.cancel47 h1{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
}
.button47{
    width: 214px;
    height: 56px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background: #DB4444;
    border: none;
}
.button47 h1{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #FAFAFA;
    margin-left: 48px;
}










/*Media Query for low resolution  Tablets, Ipads */
@media (max-width: 480px) {
    main{
        width: 1500px;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 481px) and (max-width: 767px) {
    main{
        width: 1500px;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 768px) and (max-width: 1024px){
    main{
        width: 1500px;
    }
}

/* Media Query for Large screens */
@media (min-width: 1025px) and (max-width: 1280px){
    main{
        width: 1500px;
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) and (max-width: 1300px){
    main{
        width: 1500px;
    }
}

/* Media Query for Large screens */
@media (min-width: 1301px) and (max-width: 1496px){
    main{
        width: 1500px;
    }
}
